.header-wrapper{
  background-color: #FF5703;
}

.bg-dark {
  background-color: #F8F8F8 !important;
  color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
}

.navbar-dark .navbar-brand {
  color:black;
}

.contact-span{
  color: #717171;
}

h1{
  color:#FF5703;
}
h2{
  color:#FF5703;
}

h3{
  color:#ACACAC;
}
.main-content{
  color:#ACACAC;
}

.contact-inputs {
  max-width: 45vw;
}

.contact-info{
  display: flex;
  justify-content: space-around;
}

.contact-details{
  right: 10rem;
}